.section-title {
  font-size: 4rem;
  line-height: 1.2;
  color: var(--primary-color);
}

.section-description {
  font-size: 2.5rem;
  line-height: 1.2;
}

.tag {
  padding: 0.5rem 2rem;
  background-color: var(--secondary-color);
  display: inline-block;
}

.cta-button {
  display: inline-block;
  background-color: var(--secondary-color);
  padding: 1rem 3rem;
  border-radius: 1rem;
}

/* Hero banner section */
#hero-banner {
  position: relative;
  height: 40vw;
  overflow: hidden;
}

#amplify-engagement {
  position: relative;
  height: 40vw;
  min-height: 800px;
  overflow: hidden;
}

#hero-banner img,
#amplify-engagement img {
  /* width: 1200px; */
  width: 60vw;
  min-width: 1000px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

#hero-banner img {
  min-width: 900px;
}

#hero-banner .video-wrapper {
  width: 60vw;
  min-width: 1000px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  display: flex;
}

#hero-banner .video-wrapper video {
  width: 140%;
  margin-left: -40%;
}

#hero-banner {
  background-color: #000000;
}

#hero-banner .video-wrapper {
  min-width: 900px;
}

#amplify-engagement img {
  min-width: 1000px;
}

#hero-banner .container,
#amplify-engagement .container {
  position: relative;
  height: 100%;
  z-index: 1;
}

#hero-banner .content,
#amplify-engagement .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  max-width: 565px;
}

#hero-banner .content .section-title,
#amplify-engagement .content .section-title {
  margin-bottom: 2rem;
}

#hero-banner .content p {
  margin-bottom: 3rem;
}

/* Trusted partner section */
#trusted-partners {
  background-color: var(--dark-color);
  padding: 4rem 0 6rem;
}

#trusted-partners .title {
  font-weight: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}

#trusted-partners .partner-wrapper {
  max-width: 1200px;
  margin: auto;
}

#trusted-partners .partners {
  margin: 0 -1rem;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

#trusted-partners .partners li {
  padding: 0 2rem;
  height: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#trusted-partners .partners img {
  width: 120px;
  height: 100%;
  object-fit: contain;
}

/* Morden purchase section */
#modern-purchase {
  position: relative;
  padding: 16rem 0;
}

#modern-purchase .container {
  height: 100%;
}

#modern-purchase .content {
  height: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#modern-purchase .section-description {
  font-size: 2rem;
}

/* Amplify engagement section */
#amplify-engagement {
  background-color: #090909;
}

#amplify-engagement img {
  object-position: bottom right;
}

#amplify-engagement .background-mb {
  display: none;
}

/* Key offerings section */
#key-offerings {
  padding: 10rem 0;
  background-color: #111111;
}

/* #key-offerings .tag {} */

#key-offerings .offering-group {
  border-bottom: 1px solid var(--white-color);
  padding: 2rem 0;
  margin-top: 4rem;
  cursor: pointer;
}

#key-offerings .offering-group .title {
  font-size: 6rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  transition: color 0.3s;
}

#key-offerings .offering-group.active .title {
  color: var(--primary-color);
}

#key-offerings .offering-group:hover .title {
  color: var(--primary-color);
}

#key-offerings .offering-group .title span {
  padding-right: 5rem;
}

#key-offerings .offering-group .title img {
  width: 75px;
  transition: transform 0.3s ease;
}

#key-offerings .offering-group.active .title img {
  transform: rotate(90deg);
}

#key-offerings .offering-group .content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

/* Key benefits section */
#key-benefits {
  background-color: var(--dark-color);
  padding: 8rem 0;
}

#key-benefits .benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  column-gap: 40px;
}

#key-benefits .benefits li {
  width: 220px;
}

#key-benefits .benefits img {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

/* Solutions section */
#solutions {
  background-image: url('../assets/images/landing-solution-bg.png');
  background-size: 100% auto;
  background-repeat: repeat-y;

  min-height: 500px;
  padding-bottom: 4rem;
}

#solutions .hero {
  margin-bottom: 8rem;
}

#solutions .hero img {
  width: 100%;
}

#solutions .solution-notes .line {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#solutions .solution-notes .line .content {
  width: calc(58.16% - 30px);
  min-width: 390px;
  flex-shrink: 0;
  text-align: right;
  padding: 0 3rem;
}

#solutions .solution-notes .content p {
  width: 320px;
  display: inline-block;
}

#solutions .solution-notes .heading {
  width: 320px;
  display: inline-block;
  color: var(--primary-color);
  font-size: 2.4rem;
}

#solutions .solution-notes .line .icon {
  width: 40%;
  height: 60px;
}

#solutions .solution-notes .icon img {
  width: 60px;
}

#solutions .solution-notes .bigtext {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

/* Testimonials section */
#testimonials {
  background-image: url('../assets/images/landing-solution-bg.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding: 8rem 0 4rem;
}

#testimonials .wrapper {
  display: flex;
}

#testimonials .heading {
  width: 58.16%;
  flex-shrink: 0;
  padding-top: 250px;
  display: flex;
  justify-content: flex-end;
}

#testimonials .heading .frame {
  max-width: 100%;
  padding: 0 8rem;
  width: calc(100% - (100vw - 1920px) / 2);
}

#testimonials .heading .tag {
  margin-bottom: 2rem;
}

#testimonials .feedbacks {
  padding: 0 4rem;
  max-width: 480px;
}

#testimonials .feedbacks .item {
  margin-bottom: 8rem;
}

#testimonials .avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 4rem;
}

#testimonials img {
  width: 100%;
  height: 100%;
}

#testimonials .title {
  font-size: 2.4rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  line-height: 1.6;
}

#testimonials .review {
  line-height: 1.6;
}

#testimonials .signature {
  margin-top: 2rem;
  font-size: 1.6rem;
}

/* ============================ */
/* RESPONSIVE */
/* ============================ */

@media only screen and (max-width: 1366px) {
  #hero-banner {
    height: 45vw;
  }
}

@media only screen and (max-width: 1150px) {
  #hero-banner,
  #amplify-engagement {
    height: auto;
    min-height: 0;
    padding: 4rem 0 0;
  }

  #hero-banner img,
  #amplify-engagement img {
    width: 100%;
    min-width: 0;
    position: static;
  }

  #amplify-engagement .background {
    display: none;
  }

  #amplify-engagement .background-mb {
    display: block;
  }

  #amplify-engagement .img-wrapper {
    display: flex;
  }

  #hero-banner .video-wrapper {
    width: 100%;
    min-width: 0;
    position: static;
  }

  #trusted-partners .container {
    padding: 0;
  }

  #trusted-partners .partners {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #trusted-partners .partners {
    margin: 0 -1rem;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

  #amplify-engagement img {
    margin-top: 4rem;
  }

  #hero-banner .content,
  #amplify-engagement .content {
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
  }

  #key-offerings {
    padding: 8rem 0;
  }

  #key-offerings .offering-group .title {
    font-size: 6rem;
  }

  #key-offerings .offering-group .title img {
    width: 60px;
  }
}

@media only screen and (max-width: 960px) {
  #key-offerings .offering-group .title {
    justify-content: space-between;
    font-size: 4rem;
  }

  #key-offerings .offering-group .title img {
    width: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 3rem;
  }

  .section-description {
    font-size: 2rem;
  }

  #heart-mind-wallet,
  #capture-heart-mind-wallet,
  #solution-platforms-heading,
  #amplify-engagement {
    text-align: center;
  }

  #heart-mind-wallet .content,
  #capture-heart-mind-wallet .content,
  #amplify-engagement .content {
    margin: 0 auto;
  }

  #trusted-partners .partner-wrapper li:first-child {
    padding-left: 4rem;
  }
  #trusted-partners .partner-wrapper li:last-child {
    padding-right: 4rem;
  }

  #trusted-partners .title {
    text-align: center;
  }

  #key-benefits .benefits {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  #key-benefits .benefits li {
    width: 100%;
    max-width: 260px;
    text-align: center;
  }

  #key-benefits .benefits li:not(:last-child) {
    margin-bottom: 40px;
  }

  #key-offerings .tag {
    display: block;
    width: fit-content;
    margin: auto;
  }

  #key-offerings .offering-group {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  #key-offerings .offering-group .title {
    font-size: 2.4rem;
  }

  #key-offerings .offering-group .title img {
    width: 20px;
  }

  #solutions .line {
    flex-direction: column-reverse;
    row-gap: 1rem;
  }

  #solutions .tag {
    margin-bottom: 2rem;
  }

  #solutions .solution-notes .line .icon {
    width: auto;
    height: auto;
  }

  #solutions .solution-notes .icon img {
    width: 40px;
  }

  #solutions .solution-notes .line .content {
    text-align: center;
    width: 100%;
    min-width: 0;
    max-width: 320px;
  }

  #solutions .solution-notes .line .content-full {
    max-width: 100%;
  }

  #solutions .solution-notes .content p {
    width: auto;
  }

  #solutions .solution-notes .heading {
    width: auto;
  }

  #testimonials .wrapper {
    display: block;
    text-align: center;
  }

  #testimonials .avatar {
    margin-left: auto;
    margin-right: auto;
  }

  #testimonials .heading {
    width: 100%;
    margin-bottom: 5rem;
    padding-top: 0;
  }

  #testimonials .feedbacks {
    margin: 0 auto;
  }
}

/* ============================ */
/* END RESPONSIVE */
/* ============================ */

/* ======================================= */
/* ============ SOLUTION PAGE ============ */
/* ======================================= */

/* Hero banner section */
#solution-hero-banner,
#capture-heart-mind-wallet,
#capture-zero-party-list {
  position: relative;
  overflow: hidden;
}

#solution-hero-banner {
  height: 56.267vw;
}

#capture-heart-mind-wallet {
  height: 40.464vw;
}

#capture-zero-party-list {
  height: 56.25vw;
}

#solution-hero-banner img,
#capture-heart-mind-wallet .background,
#capture-zero-party-list .background {
  width: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-48%);
  position: absolute;
  z-index: 0;
}

#solution-hero-banner .background-mb,
#capture-zero-party-list .background-mb {
  display: none;
}

#solution-hero-banner .container,
#capture-heart-mind-wallet .container,
#capture-zero-party-list .container {
  position: relative;
  height: 100%;
  z-index: 1;
}

#solution-hero-banner .content,
#capture-heart-mind-wallet .content,
#capture-zero-party-list .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  max-width: 565px;
}

#capture-zero-party-list .content {
  width: 50%;
  max-width: none;
}

#solution-hero-banner .content .section-title,
#capture-heart-mind-wallet .content .section-title {
  margin-bottom: 2rem;
}

#solution-hero-banner .content p,
#capture-heart-mind-wallet .content p {
  margin-bottom: 3rem;
}

#capture-zero-party-list .content .list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6rem;
}

#capture-zero-party-list .content .list li {
  width: 50%;
  padding-right: 4rem;
}

#capture-zero-party-list .content .icon {
  width: 60px;
}

#capture-zero-party-list .content .title {
  font-size: 1.8rem;
  margin: 1rem 0;
}

#heart-mind-wallet {
  padding: 4rem 0;
}

#heart-mind-wallet .list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: space-between;
}

#heart-mind-wallet .list li {
  max-width: 400px;
}

#heart-mind-wallet .list .icon {
  width: 60px;
}

#heart-mind-wallet .list .title {
  margin: 1rem 0;
  font-size: 1.8rem;
}

#capture-zero-party-data {
  padding: 4rem 0;
  min-height: 600px;
  display: flex;
  align-items: center;
}

#capture-zero-party-data h3 {
  margin-bottom: 2rem;
}

#capture-zero-party-data p {
  font-size: 2rem;
  margin: 2rem auto;
  max-width: 680px;
}

#capture-zero-party-data p.btn {
  margin-top: 8rem;
  margin-bottom: 0;
}

#solution-platforms-heading {
  padding: 10rem 0 4rem;
}

#solution-platforms-heading h2 {
  font-size: 4rem;
}

#solution-platforms {
  padding: 8rem 0;
  position: relative;
  background-color: var(--black-color);
}

#solution-platforms .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#solution-platforms .swiper-slide {
  background: #333333;
  width: 320px;
  height: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#solution-platforms .swiper-slide h3 {
  font-size: 1.8rem;
  margin: 2.5rem 0;
}

#solution-platforms .swiper-slide img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  display: inline-block;
}

#solution-platforms .swiper-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

#solution-platforms .swiper-nav:after {
  color: #1a1a1a;
  font-size: 2rem;
}

#solution-platforms .swiper-button-next {
  right: 4rem;
}

#solution-platforms .swiper-button-prev {
  left: 4rem;
}

#solution-platforms .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 4rem;
}

#solution-platforms .swiper-pagination-bullet {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #d1d1d1;
  opacity: 1;
  margin: 0 1.4rem;
}

#solution-platforms .swiper-pagination-bullet-active {
  box-sizing: content-box;
  border: 4px solid var(--primary-color);
}

/* ============================ */
/* RESPONSIVE */
/* ============================ */

@media only screen and (max-width: 1150px) {
  #solution-hero-banner,
  #capture-heart-mind-wallet,
  #capture-zero-party-list {
    height: auto;
    min-height: 0;
    padding: 4rem 0 0;
  }

  #solution-hero-banner .background-mb,
  #capture-heart-mind-wallet .background-mb,
  #capture-zero-party-list .background-mb {
    width: 100%;
    position: static;
    transform: none;
    margin-top: 20px;
    display: block;
  }

  #solution-hero-banner .background,
  #capture-heart-mind-wallet .background,
  #capture-zero-party-list .background {
    display: none;
  }

  #capture-zero-party-list .img-wrapper {
    display: flex;
  }

  #solution-hero-banner .content,
  #capture-heart-mind-wallet .content,
  #capture-zero-party-list .content {
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
  }

  #solution-platforms .swiper-slide h3 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  #heart-mind-wallet .list .icon {
    width: 60px;
  }

  #capture-zero-party-list .content .icon {
    width: 60px;
  }

  #solution-platforms-heading h2 {
    font-size: 3rem;
  }

  #solution-platforms {
    padding: 6rem 0;
  }

  #solution-platforms .swiper-slide h3 {
    font-size: 2.5rem;
  }

  #solution-platforms .swiper-slide p {
    font-size: 1.5rem;
  }

  #solution-platforms .swiper-slide img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    display: inline-block;
  }

  #solution-platforms .swiper-nav {
    width: 30px;
    height: 30px;
  }

  #solution-platforms .swiper-nav:after {
    color: #1a1a1a;
    font-size: 1.5rem;
  }

  #solution-platforms .swiper-button-next {
    right: 1rem;
  }

  #solution-platforms .swiper-button-prev {
    left: 1rem;
  }

  #heart-mind-wallet .list {
    justify-content: center;
  }
}

@media only screen and (max-width: 568px) {
  #capture-zero-party-list .content .list li {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
}

/* ============================ */
/* END RESPONSIVE */
/* ============================ */

/* ======================================= */
/* ============= ABOUT PAGE ============== */
/* ======================================= */

/* About intro section */
#about-intro {
  background-image: url('../assets/images/about-hero-bg.png');
  background-size: cover;
  max-height: 80vh;
  position: relative;
  min-height: 600px;
}

#about-intro #about-intro .container {
  width: 100%;
}

#about-intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1920px;
  transform: translate(-50%, -50%);
  padding: 0 8rem;
}

#about-intro .title {
  font-size: 5.1rem;
  max-width: 1000px;
}
#about-intro .description {
  font-size: 2.5rem;
  max-width: 600px;
  margin: 3rem 0;
}

/* Global expertise section */
#global-expertise {
  height: 70vh;
  min-height: 700px;
}

#global-expertise .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

#global-expertise .heading {
  font-size: 4rem;
  margin-bottom: 10rem;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

#global-expertise .company-stats {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

#global-expertise .company-stats .stat-item {
  font-size: 1.5rem;
  padding: 2rem 1rem 4rem;
}

#global-expertise .company-stats .stat-item .number {
  font-size: 4.6rem;
  margin-right: 1rem;
  color: var(--primary-color);
}

#global-expertise .company-stats .stat-description {
  font-size: 3.5rem;
}

#global-expertise .company-stats .stat-item {
  width: calc(100% / 3);
  flex-shrink: 0;
  text-align: center;
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

/* Our team section */
#our-team {
  padding: 8rem 0;
}

#our-team .members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10rem;
}

#our-team .member {
  margin: 4rem 0;
  padding: 0 10rem;
  flex-shrink: 0;
  width: calc(100% / 3);
}

#our-team img {
  width: 115px;
  margin-bottom: 1.5rem;
}

#our-team .member-name {
  font-size: 2.5rem;
}

#our-team .member-position {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
  font-weight: bold;
}

#our-team .member-description {
  font-size: 1.8rem;
}

/* ============================ */
/* RESPONSIVE */
/* ============================ */
@media screen and (orientation: landscape) {
  #about-intro .container {
    padding-top: 56.25%;
  }
}

@media only screen and (max-width: 2100px) {
  #our-team .members-list {
    margin: 0 -5rem;
  }

  #our-team .member {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 1920px) {
  #our-team .members-list {
    margin: 0 -4rem;
  }

  #our-team .member {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  #our-team .member {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  #about-intro .title {
    font-size: 3.6rem;
  }

  #about-intro .description {
    font-size: 2rem;
  }

  #global-expertise .company-stats {
    display: block;
    border: none;
  }

  #global-expertise .company-stats .stat-item {
    width: 100%;
    border: none;
  }
}

@media only screen and (max-width: 768px) {
  #about-intro .content {
    padding: 0 3rem;
  }

  #global-expertise {
    padding: 6rem 0;
    height: auto;
  }

  #global-expertise .container {
    display: block;
  }

  #global-expertise .heading {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 640px) {
  #our-team .member {
    width: 100%;
    text-align: center;
  }
}
