/* Global */
:root {
  --primary-color: #ff951f;
  --secondary-color: #255ceb;
  --white-color: #ffffff;
  --black-color: #060606;
  --dark-color: #191919;
}

@font-face {
  font-family: 'Nunito';
  src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Archivo';
  src: url(../assets/fonts/ArchivoBlack-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Nunito;
  font-size: 1.8rem;
  line-height: 1.3;
  color: var(--white-color);
  background-color: var(--black-color);
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

li.active > a {
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.4rem;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;
}

/* ==================== Utilities ==================== */
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

/* HEADER */
header {
  padding: 3rem 0;
  font-size: 2rem;
}

header.fixed {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .mobile-button {
  width: 40px;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
  display: none;
}

header .mobile-button img {
  width: 100%;
}

.header-logo {
  height: 50px;
  position: relative;
  z-index: 100;
}

.header-logo img {
  height: 100%;
}

.header-nav li {
  display: inline-block;
}

.header-nav li:hover a {
  color: var(--primary-color);
  transition: color 0.3s;
}

.header-nav li a {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

header .mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 99;
  background-color: #373737;
  overflow: hidden;
  transition: height 0.3s;
}

header .mobile-nav.active {
  height: 100vh;
}

header .mobile-nav li {
  text-align: center;
  margin: 0.4rem;
  font-size: 4rem;
}

header .mobile-nav li:first-child {
  padding-top: 10rem;
}

/* FOOTER */
footer {
  padding: 24px 0;
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 1.8rem;
}

footer a {
  color: var(--black-color);
}

footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1rem 2rem;
}

footer .row:first-child {
  border-bottom: 2px solid var(--black-color);
}

footer .logo {
  width: 75px;
  margin-bottom: 1rem;
}

footer .logo img {
  width: 100%;
}

footer .phone-number {
  font-size: 2rem;
  display: block;
  font-weight: bold;
  margin-top: 2rem;
}

footer .social-section h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
footer .social-section .social-list {
  text-align: right;
}

footer .social-section .social-list li {
  display: inline-block;
}

footer .social-section img {
  width: 32px;
}

footer .ref-nav li {
  display: inline-block;
}

footer .ref-nav a {
  display: block;
  text-decoration: underline;
  padding: 2px 6px;
}

/* ========== */
/* RESPONSIVE */
/* ========== */
@media only screen and (max-width: 960px) {
  footer .row {
    align-items: flex-start;
  }

  footer .ref-nav li {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }

  header {
    padding: 3rem 0;
  }

  .header-logo {
    height: 30px;
  }

  header .header-nav {
    display: none;
  }

  header .mobile-button {
    display: flex;
  }

  footer .row {
    display: block;
  }

  footer .contact-section {
    margin-bottom: 2rem;
  }

  footer .phone-number {
    margin-top: 1rem;
  }

  footer .social-section h3 {
    margin-bottom: 1rem;
  }

  footer .social-section .social-list {
    text-align: left;
  }
}
